extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .search-area
    input.main-search(type="text", size="30")
  .container
    .row
      .col-md-4
        .card-news-list
          .card-news
            .img1 
            p THU, NOV 9 9:00 AM
            a GMP and Regulatory Expectations for Early IND Products (ntz) A
            p Seoul, Seoul
      .col-md-4
        h3 주요 기능
        ul
          li 질문글 등록/보기/변경/삭제
          li 답변글 등록/삭제
          li 사용자 관리/인증
          li API
